@import "../../styles/utils/varibales.scss";

.signupContainer {
    position: relative;
    min-height: 100vh;
    height: 100%;
    font-family: $roboto-font;

    @media screen and (min-width: 992px) and (min-height: 900px) {
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        margin-top: 20px;
        @media screen and (max-height: 700px) {
            margin-top: 0;
        }

        &__title {
            font-size: 30px;
            margin: 0;
            padding-bottom: 50px;
            color: $primary-color;
            @media screen and (min-width: 992px) and (min-height: 900px) {
                font-size: 45px;
            }
            @media screen and (max-height: 700px) {
                display: none;
            }
        }
        &__link {
            color: $primary-color;
            font-weight: 600;
        }
        &__errorHandler {
            bottom: 200px;
            margin-bottom: 20px;
            width: 80%;
            text-align: center;
            color: red;
            font-size: 12px;
            @media screen and (min-width: 992px) and (min-height: 900px) {
                font-size: 16px;
            }
        }
    }
}

.backgroundcolor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 992px) and (min-height: 900px) {
        background-color: #ffd7d771;
        width: 35rem;
        height: 45rem;
        margin: auto;
        border-radius: 50px;
    }
}
