@import "../../styles/utils/varibales.scss";

.options__container {
    font-family: $roboto-font;
    font-size: 15px;
    font-weight: 400;

    &__option {
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__icon {
            color: $tertiary-color;
            padding-right: 10px;
        }
        &:hover {
            background-color: #4e516635;
            cursor: pointer;
        }
    }
}
