@import "../../styles/utils/varibales.scss";

.input__container {
    display: flex;
    justify-content: center;
    font-family: $roboto-font;
    font-weight: 400;

    & label,
    input {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 13px;
        @media screen and (min-width: 992px) and (min-height: 900px) {
            border-radius: 30px;
        }
    }
    & label {
        font-size: 14px;
        position: relative;
        @media screen and (max-height: 700px) {
            margin-bottom: 0;
        }
    }
    &__contact {
        border: 2px solid rgba(78, 81, 102, 0.7);
        height: 30px;
        width: 300px;
        margin-top: 10px;
        text-indent: 40px;
        @media screen and (min-width: 992px) and (min-height: 900px) {
            height: 45px;
            width: 400px;
        }
    }

    &__submit {
        font-size: 16px;
        display: flex;
        justify-content: center;
        border: none;
        height: 40px;
        width: 150px;
        background-color: $tertiary-color;
        color: white;
        font-weight: 500;
        @media screen and (min-width: 992px) and (min-height: 900px) {
            font-size: 18px;
            height: 50px;
            width: 250px;
        }
        @media screen and (max-height: 700px) {
            margin-bottom: 0;
        }
    }

    &__icon {
        color: $tertiary-color;
        position: absolute;
        top: 35px;
        left: 12px;
        @media screen and (min-width: 992px) and (min-height: 900px) {
            top: 42px;
            left: 16px;
        }
    }
}
