@import "../../styles/utils/varibales.scss";

.container {
    width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
    background-color: white;

    @media screen and (min-width: 992px) and (min-height: 1000px) {
        position: fixed;
        width: 60%;
        top: 0;
        padding-top: 10px;
        z-index: 3;
        border-bottom: 10px solid white;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        @media screen and (min-width: 992px) and (min-height: 1000px) {
            justify-content: space-between;
        }
        & img {
            width: 250px;
            margin: 20px 0px;
            @media screen and (min-width: 992px) and (min-height: 1000px) {
                width: 280px;
            }
        }
        &__icon {
            color: $primary-color;
            font-size: 25px;
            cursor: pointer;
        }
    }
    &__navMenu {
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: white;
        color: $primary-color;
        right: 0;
        bottom: -98px;
        width: 100%;
        z-index: 1;

        & a,
        p {
            margin: 15px;
            padding-left: 10px;
            cursor: pointer;
            &:hover {
                font-weight: 500;
            }
        }
    }
    & hr {
        margin: 0;
        border: 2px solid $primary-color;
    }
}

@keyframes changeIcon {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.mainTitle {
    margin: 0;
    padding: 0;
}
