@import "../../styles/utils/varibales.scss";

.container {
    height: 100%;
    &__logo {
        display: flex;
        justify-content: center;
        & img {
            width: 250px;
            margin: 20px 0px;
        }
    }
    & hr {
        border: 2px solid $primary-color;
    }

    .white__logo__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-family: $roboto-font;
        background: $primary-color;
        width: 100%;
        /* media !!  */
        @media screen and (min-width: 992px) {
            background-color: rgb(60, 9, 9);
        }

        & img {
            width: 225px;
            margin: 25px 10px;
        }
        &__menu {
            margin: 25px 15px;
            width: 20px;
            cursor: pointer;
            &__bar {
                margin-top: 5px;
                border: 1px solid white;
                border-radius: 20px;
            }
        }

        &__navMenu {
            display: flex;
            justify-content: center;
            position: absolute;
            background-color: $primary-color;
            color: white;
            right: 0;
            bottom: -98px;
            width: 100%;
            z-index: 1;

            & a,
            p {
                margin: 15px;
                padding-left: 10px;
                cursor: pointer;
                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
}

@keyframes changeIcon {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* MEDIAQUERIES */
