.container {
    &__logo {
        display: flex;
        justify-content: center;
        & img {
            width: 250px;
            margin: 20px 0px;
        }
    }
    & hr {
        border: 2px solid #fd2d01;
    }
}
