@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
    &__logo {
        display: flex;
        justify-content: center;
        & img {
            width: 250px;
            margin: 20px 0px;
        }
    }
    & hr {
        border: 2px solid #fd2d01;
    }

    .white__logo__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-family: "Roboto", sans-serif;

        background: #fd2d01;
        width: 100%;
        & img {
            width: 225px;
            margin: 25px 10px;
        }
        &__menu {
            margin: 25px 15px;
            width: 20px;
            cursor: pointer;
            &__bar {
                margin-top: 5px;
                border: 1px solid white;
                border-radius: 20px;
            }
        }

        &__navMenu {
            display: flex;
            justify-content: center;
            position: absolute;
            background-color: #fd2d01;
            color: white;
            right: 0;
            bottom: -98px;
            width: 100%;
            z-index: 1;

            & a,
            p {
                margin: 15px;
                padding-left: 10px;
                cursor: pointer;
                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
}

@keyframes changeIcon {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
